<p id="notice"><%= notice %></p>

<p>
  <strong>Keywords:</strong>
  <%= @search.keywords %>
</p>

<p>
  <strong>Active:</strong>
  <%= @search.active %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
